// Colors
$background: rgb(20, 20, 20);
$white: rgb(242, 242, 242);
$agp-green: rgb(95, 186, 136);
$agp-red: rgb(192, 26, 26);
$agp-blue: rgb(57, 77, 228);
$agp-orange: rgb(255, 164, 57);
$agp-purple: rgb(177, 47, 238);
